.dashboard-list-item{
  transition: box-shadow 0.2s,border-color 0.2s, background-color 0.2s
}

.dashboard-list-item:hover {
  cursor: pointer;
  box-shadow: 0 1px 2px -2px blue;
  background-color: rgb(209, 209, 209) !important;
}